<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Alertas</title>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<br>
<br>
<p><center><h1>Selecciona las alertas que quieres que se muestren:</h1></center></p>
<body  background="background.jpg"> 
	<H2> 
<form action="/my-handling-form-page" method="post">
    <div>

<br>
<center><form action="/action_page.php">
  <input type="checkbox" name="Evento de trafico" value="Trafico">Eventos de trafico <br>
  <input type="checkbox" name="Eventos deportivos" value="Deportes" checked>Eventos deportivos<br>
  <input type="checkbox" name="Eventos sociales" value="Social" checked>Eventos Sociales<br>
  <input type="submit" value="Confirmar">
</form></center>


</form>
	
</body>
</html>